In [1]:
import pandas as pd
import numpy as np

In [15]:
data = pd.read_csv("Iris.csv")
data.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [17]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [26]:
species_list = ['Iris-setosa', 'Iris-versicolor', 'Iris-virginica']

for Species in species_list:
    print("="*50)
    print(f"Statistical Details for {Species}")
    print("="*50)
    
    pecies_data = data[data['Species'] == Species]
    
    print("\nMean:")
    print(species_data.mean(numeric_only=True))
    
    print("\nStandard Deviation:")
    print(species_data.std(numeric_only=True))
    
    print("\nPercentiles (25%, 50%, 75%):")
    print(species_data.quantile([0.25, 0.50, 0.75], numeric_only=True))

==================================================
Statistical Details for Iris-setosa
==================================================

Mean:
sepal length (cm)    6.588
sepal width (cm)     2.974
petal length (cm)    5.552
petal width (cm)     2.026
dtype: float64

Standard Deviation:
sepal length (cm)    0.635880
sepal width (cm)     0.322497
petal length (cm)    0.551895
petal width (cm)     0.274650
dtype: float64

Percentiles (25%, 50%, 75%):
      sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0.25              6.225             2.800              5.100               1.8
0.50              6.500             3.000              5.550               2.0
0.75              6.900             3.175              5.875               2.3
==================================================
Statistical Details for Iris-versicolor
==================================================

Mean:
sepal length (cm)    6.588
sepal width (cm)     2.974
petal length (cm)    5.552
petal width (cm)     2.026
dtype: float64

Standard Deviation:
sepal length (cm)    0.635880
sepal width (cm)     0.322497
petal length (cm)    0.551895
petal width (cm)     0.274650
dtype: float64

Percentiles (25%, 50%, 75%):
      sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0.25              6.225             2.800              5.100               1.8
0.50              6.500             3.000              5.550               2.0
0.75              6.900             3.175              5.875               2.3
==================================================
Statistical Details for Iris-virginica
==================================================

Mean:
sepal length (cm)    6.588
sepal width (cm)     2.974
petal length (cm)    5.552
petal width (cm)     2.026
dtype: float64

Standard Deviation:
sepal length (cm)    0.635880
sepal width (cm)     0.322497
petal length (cm)    0.551895
petal width (cm)     0.274650
dtype: float64

Percentiles (25%, 50%, 75%):
      sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0.25              6.225             2.800              5.100               1.8
0.50              6.500             3.000              5.550               2.0
0.75              6.900             3.175              5.875               2.3

In [28]:
setosa = data[data['Species'] == 'Iris-setosa']

setosa.describe()

             Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  50.00000       50.00000     50.000000      50.000000      50.00000
mean   25.50000        5.00600      3.418000       1.464000       0.24400
std    14.57738        0.35249      0.381024       0.173511       0.10721
min     1.00000        4.30000      2.300000       1.000000       0.10000
25%    13.25000        4.80000      3.125000       1.400000       0.20000
50%    25.50000        5.00000      3.400000       1.500000       0.20000
75%    37.75000        5.20000      3.675000       1.575000       0.30000
max    50.00000        5.80000      4.400000       1.900000       0.60000