In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
!kaggle competitions download -c titanic

/bin/bash: kaggle: command not found

In [9]:
!pip install kaggle

Collecting kaggle
  Downloading kaggle-1.8.3-py3-none-any.whl.metadata (16 kB)
Collecting black>=24.10.0 (from kaggle)
  Downloading black-25.12.0-cp312-cp312-manylinux2014_x86_64.manylinux_2_17_x86_64.manylinux_2_28_x86_64.whl.metadata (86 kB)
Requirement already satisfied: bleach in ./anaconda3/lib/python3.12/site-packages (from kaggle) (4.1.0)
Collecting kagglesdk<1.0,>=0.1.14 (from kaggle)
  Downloading kagglesdk-0.1.14-py3-none-any.whl.metadata (13 kB)
Collecting mypy>=1.15.0 (from kaggle)
  Downloading mypy-1.19.1-cp312-cp312-manylinux2014_x86_64.manylinux_2_17_x86_64.manylinux_2_28_x86_64.whl.metadata (2.2 kB)
Requirement already satisfied: packaging in ./anaconda3/lib/python3.12/site-packages (from kaggle) (24.1)
Requirement already satisfied: protobuf in ./anaconda3/lib/python3.12/site-packages (from kaggle) (4.25.3)
Requirement already satisfied: python-dateutil in ./anaconda3/lib/python3.12/site-packages (from kaggle) (2.9.0.post0)
Requirement already satisfied: python-slugify in ./anaconda3/lib/python3.12/site-packages (from kaggle) (5.0.2)
Requirement already satisfied: requests in ./anaconda3/lib/python3.12/site-packages (from kaggle) (2.32.3)
Requirement already satisfied: six>=1.10 in ./anaconda3/lib/python3.12/site-packages (from kaggle) (1.16.0)
Requirement already satisfied: tqdm in ./anaconda3/lib/python3.12/site-packages (from kaggle) (4.66.5)
Collecting types-requests (from kaggle)
  Downloading types_requests-2.32.4.20250913-py3-none-any.whl.metadata (2.0 kB)
Collecting types-tqdm (from kaggle)
  Downloading types_tqdm-4.67.0.20250809-py3-none-any.whl.metadata (1.7 kB)
Requirement already satisfied: urllib3>=1.15.1 in ./anaconda3/lib/python3.12/site-packages (from kaggle) (2.2.3)
Requirement already satisfied: click>=8.0.0 in ./anaconda3/lib/python3.12/site-packages (from black>=24.10.0->kaggle) (8.1.7)
Requirement already satisfied: mypy-extensions>=0.4.3 in ./anaconda3/lib/python3.12/site-packages (from black>=24.10.0->kaggle) (1.0.0)
Requirement already satisfied: pathspec>=0.9.0 in ./anaconda3/lib/python3.12/site-packages (from black>=24.10.0->kaggle) (0.10.3)
Requirement already satisfied: platformdirs>=2 in ./anaconda3/lib/python3.12/site-packages (from black>=24.10.0->kaggle) (3.10.0)
Collecting pytokens>=0.3.0 (from black>=24.10.0->kaggle)
  Downloading pytokens-0.3.0-py3-none-any.whl.metadata (2.0 kB)
Requirement already satisfied: typing_extensions>=4.6.0 in ./anaconda3/lib/python3.12/site-packages (from mypy>=1.15.0->kaggle) (4.11.0)
Collecting librt>=0.6.2 (from mypy>=1.15.0->kaggle)
  Downloading librt-0.7.7-cp312-cp312-manylinux2014_x86_64.manylinux_2_17_x86_64.manylinux_2_28_x86_64.whl.metadata (1.3 kB)
Requirement already satisfied: webencodings in ./anaconda3/lib/python3.12/site-packages (from bleach->kaggle) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in ./anaconda3/lib/python3.12/site-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in ./anaconda3/lib/python3.12/site-packages (from requests->kaggle) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in ./anaconda3/lib/python3.12/site-packages (from requests->kaggle) (3.7)
Requirement already satisfied: certifi>=2017.4.17 in ./anaconda3/lib/python3.12/site-packages (from requests->kaggle) (2025.4.26)
Downloading kaggle-1.8.3-py3-none-any.whl (102 kB)
Downloading black-25.12.0-cp312-cp312-manylinux2014_x86_64.manylinux_2_17_x86_64.manylinux_2_28_x86_64.whl (1.8 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.8/1.8 MB 16.6 MB/s eta 0:00:00
Downloading kagglesdk-0.1.14-py3-none-any.whl (159 kB)
Downloading mypy-1.19.1-cp312-cp312-manylinux2014_x86_64.manylinux_2_17_x86_64.manylinux_2_28_x86_64.whl (13.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 13.6/13.6 MB 48.8 MB/s eta 0:00:000:00:01
Downloading types_requests-2.32.4.20250913-py3-none-any.whl (20 kB)
Downloading types_tqdm-4.67.0.20250809-py3-none-any.whl (24 kB)
Downloading librt-0.7.7-cp312-cp312-manylinux2014_x86_64.manylinux_2_17_x86_64.manylinux_2_28_x86_64.whl (189 kB)
Downloading pytokens-0.3.0-py3-none-any.whl (12 kB)
Installing collected packages: types-requests, pytokens, librt, types-tqdm, mypy, kagglesdk, black, kaggle
  Attempting uninstall: mypy
    Found existing installation: mypy 1.11.2
    Uninstalling mypy-1.11.2:
      Successfully uninstalled mypy-1.11.2
  Attempting uninstall: black
    Found existing installation: black 24.8.0
    Uninstalling black-24.8.0:
      Successfully uninstalled black-24.8.0
Successfully installed black-25.12.0 kaggle-1.8.3 kagglesdk-0.1.14 librt-0.7.7 mypy-1.19.1 pytokens-0.3.0 types-requests-2.32.4.20250913 types-tqdm-4.67.0.20250809

In [21]:
!kaggle competitions download -c titanic

Could not find kaggle.json. Make sure it's located in /home/csl-4/.config/kaggle. Or use the environment method. See setup instructions at https://github.com/Kaggle/kaggle-api/

In [23]:
!kaggle datasets download -d sparshchaudhari/bsiotr-dsbda-8
!unzip bsiotr-dsbda-8.zip -d bsiotr_dataset

Dataset URL: https://www.kaggle.com/datasets/sparshchaudhari/bsiotr-dsbda-8
License(s): unknown
('Connection aborted.', ConnectionResetError(104, 'Connection reset by peer'))
unzip:  cannot find or open bsiotr-dsbda-8.zip, bsiotr-dsbda-8.zip.zip or bsiotr-dsbda-8.zip.ZIP.

In [14]:
!kaggle datasets download -d sparshchaudhari/bsiotr-dsbda-8

Dataset URL: https://www.kaggle.com/datasets/sparshchaudhari/bsiotr-dsbda-8
License(s): unknown
('Connection aborted.', ConnectionResetError(104, 'Connection reset by peer'))

In [16]:
!pip install kaggle

Requirement already satisfied: kaggle in ./anaconda3/lib/python3.12/site-packages (1.8.3)
Requirement already satisfied: black>=24.10.0 in ./anaconda3/lib/python3.12/site-packages (from kaggle) (25.12.0)
Requirement already satisfied: bleach in ./anaconda3/lib/python3.12/site-packages (from kaggle) (4.1.0)
Requirement already satisfied: kagglesdk<1.0,>=0.1.14 in ./anaconda3/lib/python3.12/site-packages (from kaggle) (0.1.14)
Requirement already satisfied: mypy>=1.15.0 in ./anaconda3/lib/python3.12/site-packages (from kaggle) (1.19.1)
Requirement already satisfied: packaging in ./anaconda3/lib/python3.12/site-packages (from kaggle) (24.1)
Requirement already satisfied: protobuf in ./anaconda3/lib/python3.12/site-packages (from kaggle) (4.25.3)
Requirement already satisfied: python-dateutil in ./anaconda3/lib/python3.12/site-packages (from kaggle) (2.9.0.post0)
Requirement already satisfied: python-slugify in ./anaconda3/lib/python3.12/site-packages (from kaggle) (5.0.2)
Requirement already satisfied: requests in ./anaconda3/lib/python3.12/site-packages (from kaggle) (2.32.3)
Requirement already satisfied: six>=1.10 in ./anaconda3/lib/python3.12/site-packages (from kaggle) (1.16.0)
Requirement already satisfied: tqdm in ./anaconda3/lib/python3.12/site-packages (from kaggle) (4.66.5)
Requirement already satisfied: types-requests in ./anaconda3/lib/python3.12/site-packages (from kaggle) (2.32.4.20250913)
Requirement already satisfied: types-tqdm in ./anaconda3/lib/python3.12/site-packages (from kaggle) (4.67.0.20250809)
Requirement already satisfied: urllib3>=1.15.1 in ./anaconda3/lib/python3.12/site-packages (from kaggle) (2.2.3)
Requirement already satisfied: click>=8.0.0 in ./anaconda3/lib/python3.12/site-packages (from black>=24.10.0->kaggle) (8.1.7)
Requirement already satisfied: mypy-extensions>=0.4.3 in ./anaconda3/lib/python3.12/site-packages (from black>=24.10.0->kaggle) (1.0.0)
Requirement already satisfied: pathspec>=0.9.0 in ./anaconda3/lib/python3.12/site-packages (from black>=24.10.0->kaggle) (0.10.3)
Requirement already satisfied: platformdirs>=2 in ./anaconda3/lib/python3.12/site-packages (from black>=24.10.0->kaggle) (3.10.0)
Requirement already satisfied: pytokens>=0.3.0 in ./anaconda3/lib/python3.12/site-packages (from black>=24.10.0->kaggle) (0.3.0)
Requirement already satisfied: typing_extensions>=4.6.0 in ./anaconda3/lib/python3.12/site-packages (from mypy>=1.15.0->kaggle) (4.11.0)
Requirement already satisfied: librt>=0.6.2 in ./anaconda3/lib/python3.12/site-packages (from mypy>=1.15.0->kaggle) (0.7.7)
Requirement already satisfied: webencodings in ./anaconda3/lib/python3.12/site-packages (from bleach->kaggle) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in ./anaconda3/lib/python3.12/site-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in ./anaconda3/lib/python3.12/site-packages (from requests->kaggle) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in ./anaconda3/lib/python3.12/site-packages (from requests->kaggle) (3.7)
Requirement already satisfied: certifi>=2017.4.17 in ./anaconda3/lib/python3.12/site-packages (from requests->kaggle) (2025.4.26)

In [40]:
!kaggle datasets download -d sparshchaudhari/bsiotr-dsbda-8

Dataset URL: https://www.kaggle.com/datasets/sparshchaudhari/bsiotr-dsbda-8
License(s): unknown
Downloading bsiotr-dsbda-8.zip to /home/csl-4
  0%|                                               | 0.00/7.37k [00:00<?, ?B/s]
100%|██████████████████████████████████████| 7.37k/7.37k [00:00<00:00, 26.6MB/s]

In [42]:
!unzip bsiotr-dsbda-8.zip -d bsiotr_dataset

Archive:  bsiotr-dsbda-8.zip
  inflating: bsiotr_dataset/titanic.csv

In [48]:
import pandas as pd
import os

for f in os.listdir('bsiotr_dataset'):
    print(f)

df = pd.read_csv('bsiotr_dataset/titanic.csv')
df.head()

titanic.csv

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [50]:
print("Missing values in each column:\n", df.isnull().sum())

Missing values in each column:
 survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [52]:
print(df.describe(include='all'))

          survived      pclass   sex         age       sibsp       parch  \
count   891.000000  891.000000   891  714.000000  891.000000  891.000000
unique         NaN         NaN     2         NaN         NaN         NaN
top            NaN         NaN  male         NaN         NaN         NaN
freq           NaN         NaN   577         NaN         NaN         NaN
mean      0.383838    2.308642   NaN   29.699118    0.523008    0.381594
std       0.486592    0.836071   NaN   14.526497    1.102743    0.806057
min       0.000000    1.000000   NaN    0.420000    0.000000    0.000000
25%       0.000000    2.000000   NaN   20.125000    0.000000    0.000000
50%       0.000000    3.000000   NaN   28.000000    0.000000    0.000000
75%       1.000000    3.000000   NaN   38.000000    1.000000    0.000000
max       1.000000    3.000000   NaN   80.000000    8.000000    6.000000

              fare embarked  class  who adult_male deck  embark_town alive  \
count   891.000000      889    891  891        891  203          889   891
unique         NaN        3      3    3          2    7            3     2
top            NaN        S  Third  man       True    C  Southampton    no
freq           NaN      644    491  537        537   59          644   549
mean     32.204208      NaN    NaN  NaN        NaN  NaN          NaN   NaN
std      49.693429      NaN    NaN  NaN        NaN  NaN          NaN   NaN
min       0.000000      NaN    NaN  NaN        NaN  NaN          NaN   NaN
25%       7.910400      NaN    NaN  NaN        NaN  NaN          NaN   NaN
50%      14.454200      NaN    NaN  NaN        NaN  NaN          NaN   NaN
75%      31.000000      NaN    NaN  NaN        NaN  NaN          NaN   NaN
max     512.329200      NaN    NaN  NaN        NaN  NaN          NaN   NaN

       alone
count    891
unique     2
top     True
freq     537
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN

In [54]:
print("DataFrame Shape:", df.shape)  # (rows, columns)

DataFrame Shape: (891, 15)

In [56]:
print(df.dtypes)

survived         int64
pclass           int64
sex             object
age            float64
sibsp            int64
parch            int64
fare           float64
embarked        object
class           object
who             object
adult_male        bool
deck            object
embark_town     object
alive           object
alone             bool
dtype: object